{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<div class="flex-1 flex justify-center items-center py-20 bg-white">
    <div class="flex flex-col items-center justify-center">
        <div class="bg-teal-300 p-10 rounded-[5px] shadow-lg">
            <h3 class="text-3xl m-5 font-poppins font-semibold items-center text-center">Login</h3>
            <form class="flex justify-center items-center flex-col" method="POST" action="">
                {% csrf_token %}
                <div class="p-2 rounded-xl hover:bg-orange-400">
                    <p class="font-semibold font-serif">Username:</p>
                    <input class="border-solid border-2 border-black rounded" type="text" name="username" placeholder="email" required>
                </div>
                <div class="p-2 rounded-xl hover:bg-orange-400">
                    <p class="font-semibold font-serif">Password:</p>
                    <input class="border-solid border-2 border-black rounded" type="password" name="password" placeholder="password" required>
                </div>
                <input class="bg-teal-700 hover:bg-or hover:text-white rounded-xl w-fit px-4 py-2 mt-1 font-bold" type="submit" name="Login">
            </form>
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="flex justify-center items-center">
            <span class="text-white bg-red-700 rounded-md m-1 px-1 font-semibold">{{message}}</span>
        </div>
        {% else %}
        <div class="flex justify-center items-center">
            <span class="text-white bg-black rounded-md m-1 px-1 font-semibold">{{message}}</span>
        </div>        
        {% endif %}
        {% endfor %}
        <p class="p-2">Doesn't have an account? <a class="hover:underline underline-offset-8 transition-all duration-1000" href="{% url 'register' %}">Sign up</a></p>
        <p class="p-2">Forgot my password! <a class="hover:underline underline-offset-8 transition-all duration-1000" href="{% url 'login' %}">Reset password</a></p>
        </div>
    </div>
</div>
{%endblock%}