
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body>
    <nav class="bg-gray-800">
        <div class="container mx-auto px-6 py-4">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <a class="text-xl font-semibold text-white" href="#">My hh Website</a>
                </div>
                <div class="flex items-center">
                    <div class="relative group">
                        <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md" href="#">Home</a>
                        <div class="absolute hidden bg-gray-800 text-white w-40 py-2 mt-2 rounded-md">
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 1</a>
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 2</a>
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 3</a>
                        </div>
                    </div>
                    <div class="relative group">
                        <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md" href="/log/scan">Scan</a>
                        
                    </div>
                    <div class="relative group">
                        <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md" href="#">Services</a>
                        <div class="absolute hidden bg-gray-800 text-white w-40 py-2 mt-2 rounded-md">
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 1</a>
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 2</a>
                            <a class="block px-4 py-2 hover:bg-gray-700" href="#">Sub-Item 3</a>
                        </div>
                    </div>
                </div>
                    {% if user.is_authenticated %}
                    <div class="flex flex-col font-poppins font-semibold text-white">
                        <a class="navlink" href="{% url 'login' %}">Logout</a>
                    </div>
                    {% else %}
                    <div class="flex flex-col font-poppins font-semibold text-white">
                        <a class="navlink" href="{% url 'login' %}">Login</a>
                    </div>
                    {% endif %}
            </div>
        </div>
    </nav>
 
    

    {%for message in messages%}
    <div class= "flex flex-1 justify-center items-center text-yellow-500 font-serif font-semibold shadow-xl">
        {{message}}
    </div>
    {%endfor%}

    <section class='flex flex-row justify-center mt-8'> 
        <div class= ''>
            <img src="https://mcdn.wallpapersafari.com/medium/64/44/gYwV8P.jpg" alt="" class="rounded-[20px]"/>
        </div>
    </section>

   <section>
    <div>
    </div>
   </section>

    
</body>
</html>


