<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Login</h1>
  {% comment %} <form action = ""  method = POST>
     {% csrf_token %}

     <input type="submit" value = "Submit" class="btn btn-secondary">

  </form> {% endcomment %}
  <form class="flex justify-center items-center flex-col" method="POST" action="">
    {% csrf_token %}
    <div class="p-3 rounded-xl hover:bg-blue-500">
        <p class="font-semibold">Email:</p>
        <input class="border-solid border-2 border-black rounded" type="text" name="email" placeholder="email" required>
    </div>
    <div class="p-2 rounded-xl hover:to-blue-500">
        <p class="font-semibold">Password:</p>
        <input class="border-solid border-2 border-black rounded" type="password" name="password" placeholder="password" required>
    </div>
    <input class="bg-gray-200 hover:bg-gray-600 hover:text-white rounded-xl w-fit px-4 py-2 mt-1 font-bold" type="submit" name="Login">
</form>
</body>
</html>